.banner h3 {
  text-align: center;
  color: #fa0030;
  text-transform: uppercase;
  font-weight: bold;
}


.banner h4 {
  padding: 2px 0;
  line-height: 24px;
}

.banner .credit {
  font-family: 'Caveat', cursive;
  text-align: right;
  font-weight: bold;
  margin-top: 8px;
}