.home .title {
  font-size: 28px;
  text-align: center;
}

.classes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 8px;
}

@media all and (min-width: 768px) {
  .home .title {
    font-size: 34px;
  }
  .classes {
    margin-top: 32px;
  }
}

@media all and (min-width: 992px) {
  .home .content {
    background: #ffffff;
  }
  .classes {
    justify-content: space-between;
  }
}
